/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* themes */
:root {
    --bg-color: #828891;
    --text-color: #000;
    --card-overlay: rgba(0,0,0,0.5);
    --sidebar-bg: #b1b7bee3;
    --sidebar-text: #000;
    --hover-bg: rgb(202, 201, 207);
    --form-bg: #ffffff50;
    --form-text: #000000;
    --input-bg: rgb(255, 255, 255);
    --btn-border: hsl(0, 0%, 100%);
    --btn-text: #000000;
    --model-color: white;
    --card-container-color: #111;
    --card-color: #1c1c1c;
    --card-content-color: white;
    --explore-color: white;
    --explore-hover-bg: white;
    --explore-hover-cn: black;
    --explore-hover-shd: 0 0 15px rgba(255, 255, 255, 0.6);
    --explore-border: white;
}

.dark {
    --bg-color: #000000;
    --text-color: #ff0000d4;
    --sidebar-bg: #1f1f1fe3;
    --sidebar-text: #ff0000d4;
    --hover-bg: #333;
    --form-bg: rgba(0,0,0,0.6);
    --form-text: #ff0000d4;
    --input-bg: rgb(255, 255, 255);
    --btn-border: #ff0000d4;
    --btn-text: #ff0000d4;
    --model-color: black;
    --card-container-color: #b0afaff1;
    --card-color: #1c1c1c;
    --card-content-color: white;
    --explore-color: white;
    --explore-hover-bg: white;
    --explore-hover-cn: black;
    --explore-hover-shd: 0 0 15px rgba(255, 255, 255, 0.6);
    --explore-border: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s;
}

/* ================= HEADER ================= */
header {
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -10px;
    margin-bottom: -6px;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 900;
}

/* توزيع */
.menu-btn,
.icon {
    flex: 1;
}

.icon {
    display: flex;
    justify-content: flex-end;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
    color: inherit;
}

.name {
    color: var(--text-color);
    flex: 2;
    text-align: center;
    font-size: 28px;
    letter-spacing: 3px;
    font-family: 'Michroma', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo {
    width: 50px;
    z-index: 9999;
}

/* ================= MENU ================= */
.menu-btn {
    cursor: pointer;
    position: relative;
    z-index: 1100;
}

.menu-btn span {
    display: block;
    width: 30px;
    height: 1.8px;
    background-color: var(--text-color);
    margin: 5px 2px;
    transition: 0.3s;
}

.menu-btn.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: #b1b7be00;
}

.menu-btn.open span:nth-child(2) {
    opacity: 0;
    background-color: #b1b7be00;
}

.menu-btn.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
    background-color: #b1b7be00;
}

.menu-btn.open pre {
    color: #b1b7be00;
}


/* ================= SIDEBAR ================= */
.sidebar {
    background-color: var(--sidebar-bg);
    position: fixed;
    top: 0;
    left: -100%;
    width: 350px;
    height: 100%;
    z-index: 1001;
    transition: 0.4s;
    padding-top: 55px;
}

.sidebar.active {
    left: 0;
}

.sidebar-links {
    list-style: none;
}

.sidebar-links li {
    border-bottom: 2px solid #19121200;
}

.sidebar-links li a {
    color: var(--sidebar-text);
    display: flex;
    justify-content: space-between;
    padding: 16px 25px;
    text-decoration: none;
    border-bottom: solid 2px #ffffff82;
    font-family: 'Michroma', sans-serif;
    font-size: 18px;
    transition: 0.1s ease;
}

.sidebar-links li a:hover {
    transform: translateY(1px);
    background-color: var(--hover-bg);
    border-radius: 3px;
}

/* ================= OVERLAY ================= */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 1000;
}

.overlay.show {
    display: block;
}


/* ===== FOOTER ===== */

.footer {
    background: #0a0a0a;
    color: #fff;
    padding: 70px 40px 20px;
}

/* layout */
.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

/* columns */
.footer-col {
    flex: 1;
    min-width: 200px;
}

/* logo */
.footer-logo {
    font-size: 26px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

/* titles */
.footer-col h3 {
    margin-bottom: 15px;
    font-size: 16px;
    position: relative;
}

/* underline animation */
.footer-col h3::after {
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}

.footer-col:hover h3::after {
    width: 40px;
}

/* links */
.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 8px 0;
}

.footer-col ul li a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
    position: relative;
}

/* hover line effect */
.footer-col ul li a::after {
    content: "";
    width: 0;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #fff;
}

.footer-col ul li a:hover::after {
    width: 100%;
}

/* socials */
.socials a {
    display: inline-block;
    margin-right: 12px;
    color: #aaa;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s;
}

.socials a:hover {
    color: #fff;
    transform: translateY(-3px);
}

/* divider line */
.footer-line {
    height: 1px;
    background: #222;
    margin: 40px 0 20px;
}

/* bottom */
.footer-bottom {
    text-align: center;
    font-size: 15px;
    color: #777;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {

    .gallery {
        flex-direction: column;
        height: 250px;
    }
    
    .gallery img {
        width: 100%;
        height: 50%;
    }
    
    .content {
        height: 500px;
    }
    
    .model {
        font-size: 18px;
    }
    
    ul {
        font-size: 14px;
    }
    
    .button {
        font-size: 12px;
        padding: 8px 15px;
    }

    .footer-top {
        flex-direction: column;
    }

}

/* هتبداى شغل من هنا متلعبيش فى حاجه فوق */

body {

    font-family: Arial, sans-serif;

    background-image: url(Assets/Images/background.webp);
    background-size: cover;
    background-position: center;

    margin: 0;

    padding: 0;

    color: white;

}


h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

h2 {

    text-align: center;

    margin-bottom: 20px;

    color: white;

}


form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    margin: auto;

}



label {

    font-size: 15px;

    

}



input, select {

    padding: 10px;

    border-radius: 6px;

    border: none;

    outline: none;

    background: #2a2a2a;

    color: white;

    transition: 0.3s;

}



input:focus, select:focus {


    box-shadow: 0 0 12px #ce3c3c;

    border: 1px solid #ce3c3c;

    transition: 0.2s;

}


button {

    margin-top: 15px;

    margin-bottom: 20px;

    padding: 12px;

    border: none;

    border-radius: 8px;

    background: black;

    color: white;
    
    font-size: large;
    
    cursor: pointer;

    transition: 0.5s;

}

button:hover {

    background: white;
    color:black ;

    transform: scale(1.05);

}
error{ 
    color: red;
    display: block;
   margin-top: 5px;
}

