* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============================= */
:root {
    --bg-color: black;
    --name-color: white;
    --menu-color: white;
    --ex-color: black;
    --side-bg:#b1b7bee3;
    --sidelink-color: #191919;
    --sidehover-color: rgb(207, 201, 201);
    --model-color: white;
    --card-container-color: #111;
    --card-color: #1c1c1c;
    --card-content-color: white;
    --explore-color: white;
    --explore-hover-bg: white;
    --explore-hover-cn: black;
    --explore-hover-shd: 0 0 15px rgba(255, 255, 255, 0.6);
    --explore-border: white;
    --footer-bg: #000;
    --footer-color: #fff;
    --footer-h3: #888;
    --footer-hovere: #d5001c;
    --cr: #aaa;
}

.light-mode {
    --bg-color: white;
    --name-color: white;
    --menu-color: white;
    --ex-color: white;
    --side-bg:#1c1c1cef ;
    --sidelink-color: white;
    --sidehover-color: rgb(207, 201, 201);
    --model-color: black;
    --card-container-color: #b0afaff1;
    --card-color: #1c1c1c;
    --card-content-color: white;
    --explore-color: white;
    --explore-hover-bg: white;
    --explore-hover-cn: black;
    --explore-hover-shd: 0 0 15px rgba(255, 255, 255, 0.6);
    --explore-border: white;
    --footer-bg: white;
    --footer-color: black;
    --footer-h3: #373737;
    --footer-hovere: #d5001c;
    --cr: black;
}

body {
    background-color: var(--bg-color);
}

/* ==================================== */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    margin-top: -10px;
    margin-bottom: -6px;
    justify-content: space-between;
    /* بيوزع العناصر: واحد شمال، واحد نص، واحد يمين */
    align-items: center;
    padding: 0px 30px;
    /* مسافة داخلية من الجوانب */
    z-index: 9000;
    background: transparent;
}

/* عشان نضمن إن اللوجو يفضل في النص بالظبط حتى لو العناصر اللي جنبه أحجامها مختلفة */
.menu-btn,
.icon {
    flex: 1;
    /* بيخلي الجانب اليمين والشمال واخدين نفس المساحة */
}

.icon {
    display: flex;
    justify-content: flex-end;
    background: none;
    border: none;
    /* بيحدف الأيقونة لآخر اليمين */
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
    color: inherit;
}

.name {
    flex: 2;
    /* بيدي مساحة أكبر للوجو في النص */
    text-align: center;
    font-size: 28px;
    letter-spacing: 3px;
    color: var(--name-color);
    font-family: 'Michroma', sans-serif;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: flex;
}

.logo {
    width: 50px;
}


/* --- حركة الـ 3 شرط لـ X --- */
.menu-btn {
    position: relative;
    z-index: 900;
    /* عشان تفضل فوق السايد بار */
    cursor: pointer;
}

.menu-btn span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: var(--menu-color);
    margin: 5px 0;
    transition: 0.3s;

}

.menu-btn.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: var(--ex-color);
    /* تغيير اللون لأسود عشان يبان فوق المنيو البيضاء */
}

.menu-btn.open span:nth-child(2) {
    opacity: 0;
    background-color: var(--ex-color);
}

.menu-btn.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
    background-color: var(--ex-color);
}



/* --- السايد بار --- */
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    /* مخفي جهة الشمال */
    width: 320px;
    height: 100%;
    z-index: 1001;
    transition: 0.4s ease;
    padding-top: 70px;
    background-color: var(--side-bg);
}

.sidebar.active {
    left: 0;
    /* يظهر لما نضيف كلاس active */
}

.sidebar-links {
    list-style: none;
}

.sidebar-links li {
    border-bottom: 2px solid #19121200;
}

.sidebar-links li a {
    display: flex;
    justify-content: space-between;
    /*بيخلي الكلام ف ناحية و السهم ف ناحية*/
    padding: 12px 25px;
    text-decoration: none;
    border-bottom: solid 2px #ffffff82;
    color: var(--sidelink-color);
    font-size: 0.9rem;
    font-family: 'Michroma', sans-serif;
    transition: 0.1s ease;
}

.sidebar-links li a:hover {
    transform: translateY(1px);
    background-color: var(--sidehover-color);
    border-radius: 3px;
}


/* --- البلور لما افتح السايد بار لباقي الصفحه(Overlay) --- */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
    transition: opacity 0.4s ease;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}


.car1 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

/* الطبقة اللي بتعمل التأثير */
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* 1. تأثير الضلمة عند الحواف (Vignette) */
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.9);

    /* 2. تدرج أسود من فوق وتحت عشان الكلام يبان (Gradient) */
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            transparent 20%,
            transparent 80%,
            rgba(0, 0, 0, 0.8) 100%);

    pointer-events: none;
    /* عشان ميعطلش أي ضغطة على الفيديو */
}

.back1 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    bottom: 15%;
    left: 8%;
    z-index: 5;
}

.model {
    font-size: 85px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: -2px;
    color: white;
    font-family: 'Michroma', sans-serif;
    z-index: 5;
}

.discover-btn {
    display: inline-block;
    padding: 12px 35px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease;
    background: transparent;
}

.discover-btn:hover {
    background: rgba(255, 255, 255, .2);
    color: white;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .5);

}

.model-title {
    color: var(--model-color);
    font-family: 'Michroma', sans-serif;
    padding: 50px 0;
    text-align: left;
    margin-left: 5%;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 50px 5%;
    background-color: var(--card-container-color);
    /* متناسق مع خلفية الـ body */
}

.card {
    flex: 1;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: var(--card-color);
    min-width: 300px;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    /* تكبير الكارد */
}

.card:hover {
    transform: scale(1.03);
    /* الكارد بتكبر لما تقف عليها */
}

/* تداخل الصورة والفيديو */
.media-wrapper {
    position: relative;
    width: 100%;
    height: 450px;
}

.card-img,
.card-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.card-video {
    opacity: 0;
    /* الفيديو مخفي في البداية */
}

.card:hover .card-video {
    opacity: 1;
    /* الفيديو يظهر بدل الصورة */
}

/* زرار الإكسبلور والكلام */
.card-content {
    padding: 20px;
    color: var(--card-content-color);
    font-family: 'Michroma', sans-serif;
}

.explore-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    color: var(--explore-color);
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* إطار شفاف خفيف */
    font-size: 14px;
    opacity: 0;
    /* الزرار مخفي */
    transform: translateY(15px);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

/* تأثير الهوفر اللي حوالين الزرار */
.explore-btn:hover {
    background-color: var(--explore-hover-bg);
    /* الزرار نفسه يبيض */
    color: var(--explore-hover-cn);
    /* الكتابة تسود */
    box-shadow: var(--explore-hover-shd);
    /* الهالة اللي حوالين الزرار */
    border-color: var(--explore-border);
    transform: translateY(-2px);
    /* رفعة بسيطة لفوق */
}

.card:hover .explore-btn {
    opacity: 1;
    /* الزرار بيبان لما تقف على الكارد */
    transform: translateY(0);
}

.porsche-footer {
    background-color: var(--footer-bg);
    /* الخلفية سوداء */
    /* color: var(--footer-color); */
    padding: 60px 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    /* توزيع الأعمدة من الشمال */
    gap: 100px;
    /* المسافة بين الأعمدة */
    margin-bottom: 40px;
}

.footer-column h3 {
    font-size: 14px;
    color: var(--footer-h3);
    /* العناوين لونها رمادي فاتح */
    margin-bottom: 20px;
    font-weight: normal;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 12px;
}

.footer-column ul li a {
    color: var(--footer-color);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: var(--footer-hovere);
    /* لون بورش الأحمر عند التمرير */
}

.footer-divider {
    border: 0;
    border-top: 1px solid #333;
    margin: 40px 0 20px;
}

.footer-bottom {
    font-size: 12px;
    color: var(--cr);
}

.legal-links {
    margin-top: 10px;
}

.legal-links a {
    color: var(--cr);
    text-decoration: underline;
    margin-right: 5px;
}

.brand-logo {
    text-align: center;
    font-size: 40px;
    letter-spacing: 15px;
    /* تباعد الحروف المميز لبورش */
    margin-top: 50px;
    font-weight: bold;
    color: var(--footer-color);
}