* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

   
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    margin-top: -40px;
    justify-content: space-between;
    /* بيوزع العناصر: واحد شمال، واحد نص، واحد يمين */
    align-items: center;
    padding: 20px 30px;
    /* مسافة داخلية من الجوانب */
    z-index: 1000;
    background: transparent;
}

/* عشان نضمن إن اللوجو يفضل في النص بالظبط حتى لو العناصر اللي جنبه أحجامها مختلفة */
.menu-btn,
.icon {
    flex: 1;
    /* بيخلي الجانب اليمين والشمال واخدين نفس المساحة */
}

.icon {
    display: flex;
    justify-content: flex-end;
    /* بيحدف الأيقونة لآخر اليمين */
}

.name {
    flex: 2;
    /* بيدي مساحة أكبر للوجو في النص */
    text-align: center;
    font-size: 30px;
    font-weight: 450;
    letter-spacing: 3px;
    color: #000000;
    font-family: 'Michroma', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* مسافة بين اللوجو والكلمة */
}

.logo {
    width: 60px;
    height: auto;
}

.menu-btn {
    cursor: pointer;
}

.menu-btn span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #000000;
    margin: 5px 3px;
    transition: 0.3s;
}

/* --- السايد بار --- */
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    /* مخفي جهة الشمال */
    width: 350px;
    height: 100%;
    background-color: #ffffff8a;
    z-index: 1000;
    transition: 0.4s ease;
    padding: 45px 0 40px 0;
}

.sidebar.active {
    left: 0;
    /* يظهر لما نضيف كلاس active */
}

.sidebar-links {
    list-style: none;
    width: 100%;
}

.sidebar-links li {
    width: 100%;
    border-bottom: 2px solid #e0e0e0;
}

.sidebar-links li a {
    display: flex;
    justify-content: space-between;
    /*بيخلي الكلام ف ناحية و السهم ف ناحية*/
    align-items: center;
    padding: 15px 40px;
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    font-family: 'Michroma', sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
}

.sidebar-links li a:hover {
    background-color: #ebebeb;
}

.arrow {
    font-size: 1.2rem;
    color: black;
    font-weight: 300;
}

/* --- البلور لما افتح السايد بار لباقي الصفحه(Overlay) --- */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 500;
}

.overlay.show {
    display: block;
}

/* --- حركة الـ 3 شرط لـ X --- */
.menu-btn {
    position: relative;
    z-index: 1100;
    /* عشان تفضل فوق السايد بار */
    cursor: pointer;
}

.menu-btn.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: #828891;
    /* تغيير اللون لأسود عشان يبان فوق المنيو البيضاء */
}

.menu-btn.open span:nth-child(2) {
    opacity: 0;
}

.menu-btn.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
    background-color: #828891;
}

body {
    
    text-align: center;
    background-color: #828891;

}

table {
    color: black;
     border-collapse:collapse;
     border: 2px solid rgba(225, 225, 225, 0.3);
     overflow: hidden;
     border-radius: 10px;
     width: 100%;
    margin: 80px auto;
    background-image: url(Assets/Images/WhatsApp\ Image\ 2026-04-26\ at\ 8.04.17\ PM.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

thead {
    background-color:  #4a4f55;
   
}


table th,table td {
    padding: 15px;
    text-align: center;
    border: 1.5px solid #DEB887;
    border-collapse: collapse;
    backdrop-filter: blur(3px);
    font-size: blod;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
table th {
    border-bottom: 3px solid #FFFDD0;
    background-color: rgba(0, 0, 0, 0.5);

}

table img {
    width: 300px;
    border-radius: 8px;
    border: 1px solid #333;
}

table img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

tbody tr:hover {
background-color: rgba(0, 0, 0, 0.5);
transition: 0.3;
}

thead th {
    font-size: 25px;
    color: white;
}

tbody tr {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: blod;
}