* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: #828891;
    --text-color:#fff; ;
    --card-overlay: rgba(0,0,0,0.5);
    --sidebar-bg: #1c1c1cef;
    --sidebar-text: #fff;
    --hover-bg: rgba(255,255,255,0.08);
}

body.light-mode {
    --bg-color: white;
    --text-color: black;
    --sidebar-bg: #1c1c1cef;
    --sidebar-text: #000;
    --hover-bg: rgb(207, 201, 201);
}

body {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    margin-top: -40px;
    justify-content: space-between;
    /* بيوزع العناصر: واحد شمال، واحد نص، واحد يمين */
    align-items: center;
    padding: 15px 30px;
    /* مسافة داخلية من الجوانب */
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
}


/* عشان نضمن إن اللوجو يفضل في النص بالظبط حتى لو العناصر اللي جنبه أحجامها مختلفة */
.menu-btn,
.icon {
    flex: 1;
    /* بيخلي الجانب اليمين والشمال واخدين نفس المساحة */
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    backdrop-filter: blur(6px);

    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    /* بيحدف الأيقونة لآخر اليمين */
}

.icon:hover {
    background: transparent;
}

.name {
    flex: 2;
    /* بيدي مساحة أكبر للوجو في النص */
    text-align: center;
    font-size: 30px;
    font-weight: 450;
    letter-spacing: 3px;
    color: white;
    font-family: 'Michroma', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* مسافة بين اللوجو والكلمة */
}

.logo {
    width: 60px;
    height: auto;
}

.menu-btn {
    cursor: pointer;
    color: white;
}

.menu-btn span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 3px;
    transition: 0.3s;
    background-color: white;
}



.car-btn {
    position: absolute;
    bottom: 60px;
    right: 5%;
    border-radius: 40px;

    padding: 14px 35px;
    
    background: transparent;
    backdrop-filter: blur(6px);

    
    color: white;
    text-decoration: none;
    font-family: 'Michroma', sans-serif;
    letter-spacing: 2px;
    font-size: 0.95rem;

    border: 1px solid rgba(255, 255, 255, 0.5);
    
    transition: 0.4s ease;
    z-index: 9999;
}

.car-btn:hover {
    background: white;
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
/* --- السايد بار --- */
.sidebar {
    background-color: var(--sidebar-bg);
    position: fixed;
    top: 0;
    left: -100%;
    width: 320px;
    height: 100%;
    /* background-color: #b1b7bee3; */
    z-index: 1001;
    transition: 0.4s;
    padding-top: 100px;
}

.sidebar.active {
    left: 0;
}

.sidebar-links {
    list-style: none;
}

.sidebar-links li {
    border-bottom: 2px solid #19121200;
}

.sidebar-links li a {
    color: var(--sidebar-text);
    display: flex;
    justify-content: space-between;
    padding: 18px 25px;
    text-decoration: none;
    border-bottom: solid 2px #ffffff82;
    /* color: #000; */
    font-family: 'Michroma', sans-serif;
    font-size: 1.3rem;
    transition: 0.3s;
}

.sidebar-links li a:hover {
    background-color: var(--hover-bg);
    /* background-color: rgb(207, 201, 201); */
    border-radius: 3px;
    transform: translateX(8px);
}



.arrow {
    font-size: 1.2rem;
    color: black;
    font-weight: 300;
}

/* --- البلور لما افتح السايد بار لباقي الصفحه(Overlay) --- */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none ;
    z-index: 500;
}

.overlay.show {
    display: block;
}

/* --- حركة الـ 3 شرط لـ X --- */
.menu-btn {
    position: relative;
    z-index: 1100;
    /* عشان تفضل فوق السايد بار */
    cursor: pointer;
}

.menu-btn.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: black;
    /* تغيير اللون لأسود عشان يبان فوق المنيو البيضاء */
}

.menu-btn.open span:nth-child(2) {
    opacity: 0;
}

.menu-btn.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
    background-color: black;
}




.video-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 177.77vh;
    height: 100vh;
    transform:translate(-50%,-50%);
    pointer-events: none !important;
}

.video-background::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.hero-text {
    position: absolute;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white; /* 👈 ده اللي يخلي الكلام أبيض */
    text-align: left;
    bottom: 30px; 
}

.hero-text h1 {
    font-size: 60px;
}

.hero-text p {
    font-size: 20px;
}



.footer {
    background: #0a0a0a;
    color: #fff;
    padding: 70px 40px 20px;
    margin-top: auto;
}

/* layout */
.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

/* columns */
.footer-col {
    flex: 1;
    min-width: 200px;
}

/* logo */
.footer-logo {
    font-size: 26px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

/* titles */
.footer-col h3 {
    margin-bottom: 15px;
    font-size: 16px;
    position: relative;
}

/* underline animation */
.footer-col h3::after {
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}

.footer-col:hover h3::after {
    width: 40px;
}

/* links */
.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 8px 0;
}

.footer-col ul li a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
    position: relative;
}

/* hover line effect */
.footer-col ul li a::after {
    content: "";
    width: 0;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #fff;
}

.footer-col ul li a:hover::after {
    width: 100%;
}



.hero-section {
    position: relative;
    height: 100vh;
    background-color: #0b0b0b; /* خلفية سوداء بوجاتي */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* عشان الكلمة متعملش Scroll */
}

.big-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 22vw;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.08);
    letter-spacing: -0.5vw;
    user-select: none;
    z-index: 1;
    white-space: nowrap;
}

.hero-content {
    position: relative;
    z-index: 2; /* المحتوى فوق الكلمة */
    width: 100%;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}