* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: #828891;
    --text-color: #000;
    --card-overlay: rgba(0,0,0,0.5);
    --sidebar-bg: #b1b7bee3;
    --sidebar-text: #000;
    --hover-bg: rgb(207, 201, 201);
}

body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    margin-top: -40px;
    justify-content: space-between;
    /* بيوزع العناصر: واحد شمال، واحد نص، واحد يمين */
    align-items: center;
    padding: 20px 30px;
    /* مسافة داخلية من الجوانب */
    z-index: 1000;
    background: transparent;
}

/* عشان نضمن إن اللوجو يفضل في النص بالظبط حتى لو العناصر اللي جنبه أحجامها مختلفة */
.menu-btn,
.icon {
    flex: 1;
    /* بيخلي الجانب اليمين والشمال واخدين نفس المساحة */
}

.icon {
    display: flex;
    justify-content: flex-end;
    /* بيحدف الأيقونة لآخر اليمين */
}

.name {
    flex: 2;
    /* بيدي مساحة أكبر للوجو في النص */
    text-align: center;
    font-size: 30px;
    font-weight: 450;
    letter-spacing: 3px;
    color: white;
    font-family: 'Michroma', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* مسافة بين اللوجو والكلمة */
}

.logo {
    width: 60px;
    height: auto;
}

.menu-btn {
    cursor: pointer;
}

.menu-btn span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    margin: 5px 3px;
    transition: 0.3s;
}



.car-btn {
    position: absolute;
    bottom: 60px;
    right: 5%;

    padding: 14px 28px;
    
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    
    color: white;
    text-decoration: none;
    font-family: 'Michroma', sans-serif;
    letter-spacing: 2px;
    font-size: 0.95rem;

    border: 1px solid rgba(255, 255, 255, 0.4);
    
    transition: 0.4s ease;
    z-index: 9999;
}

.car-btn:hover {
    background: white;
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
/* --- السايد بار --- */
.sidebar {
    background-color: var(--sidebar-bg);
    position: fixed;
    top: 0;
    left: -100%;
    width: 320px;
    height: 100%;
    /* background-color: #b1b7bee3; */
    z-index: 1001;
    transition: 0.4s;
    padding-top: 100px;
}

.sidebar.active {
    left: 0;
}

.sidebar-links {
    list-style: none;
}

.sidebar-links li {
    border-bottom: 2px solid #19121200;
}

.sidebar-links li a {
    color: var(--sidebar-text);
    display: flex;
    justify-content: space-between;
    padding: 18px 25px;
    text-decoration: none;
    border-bottom: solid 2px #ffffff82;
    /* color: #000; */
    font-family: 'Michroma', sans-serif;
    font-size: 1.3rem;
    transition: 0.3s;
}

.sidebar-links li a:hover {
    background-color: var(--hover-bg);
    /* background-color: rgb(207, 201, 201); */
    border-radius: 3px;
    transform: translateX(8px);
}



.arrow {
    font-size: 1.2rem;
    color: black;
    font-weight: 300;
}

/* --- البلور لما افتح السايد بار لباقي الصفحه(Overlay) --- */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none !important;
    z-index: 500;
}

.overlay.show {
    display: block;
}

/* --- حركة الـ 3 شرط لـ X --- */
.menu-btn {
    position: relative;
    z-index: 1100;
    /* عشان تفضل فوق السايد بار */
    cursor: pointer;
}

.menu-btn.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: black;
    /* تغيير اللون لأسود عشان يبان فوق المنيو البيضاء */
}

.menu-btn.open span:nth-child(2) {
    opacity: 0;
}

.menu-btn.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
    background-color: black;
}




.video-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 177.77vh;
    height: 100vh;
    transform:translate(-50%,-50%);
    pointer-events: none !important;
}

.video-background::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.3);
}



.footer {
    background: #0a0a0a;
    color: #fff;
    padding: 70px 40px 20px;
    margin-top: auto;
}

/* layout */
.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

/* columns */
.footer-col {
    flex: 1;
    min-width: 200px;
}

/* logo */
.footer-logo {
    font-size: 26px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

/* titles */
.footer-col h3 {
    margin-bottom: 15px;
    font-size: 16px;
    position: relative;
}

/* underline animation */
.footer-col h3::after {
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}

.footer-col:hover h3::after {
    width: 40px;
}

/* links */
.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 8px 0;
}

.footer-col ul li a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
    position: relative;
}

/* hover line effect */
.footer-col ul li a::after {
    content: "";
    width: 0;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #fff;
}

.footer-col ul li a:hover::after {
    width: 100%;
}