* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: #000;
    --text-color:#fff; ;
    --card-overlay: rgba(0,0,0,0.5);
    --sidebar-bg: #1c1c1cef;
    --sidebar-text: #fff;
    --hover-bg: rgba(255,255,255,0.08);
}
body.light-mode {
    --bg-color: white;
    --text-color: black;
    --sidebar-bg: #1c1c1cef;
    --sidebar-text: #000;
    --hover-bg: rgb(207, 201, 201);
}
body {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    margin-top: -40px;
    justify-content: space-between;
    /* بيوزع العناصر: واحد شمال، واحد نص، واحد يمين */
    align-items: center;
    padding: 15px 30px;
    /* مسافة داخلية من الجوانب */
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
}
/* عشان نضمن إن اللوجو يفضل في النص بالظبط حتى لو العناصر اللي جنبه أحجامها مختلفة */
.menu-btn,
.icon {
    margin-left: auto; 
}
.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    backdrop-filter: blur(6px);

    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    /* بيحدف الأيقونة لآخر اليمين */
}
.icon:hover {
    background: transparent;
}
.name {
    flex: 2;
    /* بيدي مساحة أكبر للوجو في النص */
    text-align: center;
    font-size: 30px;
    font-weight: 450;
    letter-spacing: 3px;
    color: white;
    font-family: 'Michroma', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
 } /* مسافة بين اللوجو والكلمة */
.logo {
    width: 60px;
    height: auto;
}
.menu-btn {
    cursor: pointer;
    color: white;
}
.menu-btn span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 3px;
    transition: 0.3s;
    background-color: white;
}
.car-btn {
    border-radius: 40px;

    padding: 14px 35px;
    
    background: transparent;
    backdrop-filter: blur(6px);

    
    color: white;
    text-decoration: none;
    font-family: 'Michroma', sans-serif;
    letter-spacing: 2px;
    font-size: 0.95rem;

    border: 1px solid rgba(255, 255, 255, 0.5);
    
    transition: 0.4s ease;
    z-index: 9999;
}
.car-btn:hover {
    background: white;
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
/* --- السايد بار --- */
.sidebar {
    background-color: var(--sidebar-bg);
    position: fixed;
    top: 0;
    left: -100%;
    width: 320px;
    height: 100%;
    /* background-color: #b1b7bee3; */
    z-index: 1001;
    transition: 0.4s;
    padding-top: 100px;
}
.sidebar.active {
    left: 0;
}

.sidebar-links {
    list-style: none;
}

.sidebar-links li {
    border-bottom: 2px solid #19121200;
}

.sidebar-links li a {
    color: var(--sidebar-text);
    display: flex;
    justify-content: space-between;
    padding: 18px 25px;
    text-decoration: none;
    border-bottom: solid 2px #ffffff82;
    /* color: #000; */
    font-family: 'Michroma', sans-serif;
    font-size: 1.3rem;
    transition: 0.3s;
}

.sidebar-links li a:hover {
    background-color: var(--hover-bg);
    /* background-color: rgb(207, 201, 201); */
    border-radius: 3px;
    transform: translateX(8px);
}

.arrow {
    font-size: 1.2rem;
    color: black;
    font-weight: 300;
}

/* --- البلور لما افتح السايد بار لباقي الصفحه(Overlay) --- */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none ;
    z-index: 500;
}

.overlay.show {
    display: block;
}

/* --- حركة الـ 3 شرط لـ X --- */
.menu-btn {
    position: relative;
    z-index: 1100;
    /* عشان تفضل فوق السايد بار */
    cursor: pointer;
}

.menu-btn.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: black;
    /* تغيير اللون لأسود عشان يبان فوق المنيو البيضاء */
}

.menu-btn.open span:nth-child(2) {
    opacity: 0;
}

.menu-btn.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
    background-color: black;
}

.video-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 177.77vh;
    height: 100vh;
    transform:translate(-50%,-50%);
    pointer-events: none !important;
}

.video-background::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.hero-text {
    position: absolute;
    left: 1%;
    transform:none;
    color: white; /* 👈 ده اللي يخلي الكلام أبيض */
    text-align: left;
    bottom: 30px; 
}

.hero-text h1 {
    font-size: 70px;
}

.hero-text p {
    font-size: 20px;
}



.footer {
    background: #0a0a0a;
    color: #fff;
    padding: 70px 40px 20px;
    margin-top: auto;
}

/* layout */
.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

/* columns */
.footer-col {
    flex: 1;
    min-width: 200px;
}

/* logo */
.footer-logo {
    font-size: 26px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

/* titles */
.footer-col h3 {
    margin-bottom: 15px;
    font-size: 16px;
    position: relative;
}

/* underline animation */
.footer-col h3::after {
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}

.footer-col:hover h3::after {
    width: 40px;
}

/* links */
.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 8px 0;
}

.footer-col ul li a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
    position: relative;
}

/* hover line effect */
.footer-col ul li a::after {
    content: "";
    width: 0;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #fff;
}

.footer-col ul li a:hover::after {
    width: 100%;
}

.login-btn {
    padding: 8px 18px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Michroma', sans-serif;

    background: transparent;
    backdrop-filter: blur(6px);

    transition: 0.3s;
    margin-right: 25px;
}

.login-btn:hover {
    background: white;
    color: black;
}

.hero-buttons {
    position: absolute;
    bottom: 60px;
    right: 5%;

    display: flex;
    gap: 15px; /* 👈 المسافة بين الزرارين */
}

.about-products {
    padding: 80px 10%;
    background: #0b0b0b;
    color: white;
    text-align: center;
}

/* العنوان مع الخطين */
.models-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

.models-header .line {
    flex: 1;
    height: 1px;
    background: linear-gradient(to right, transparent, white, transparent);
    opacity: 0.5;
}

.models-header h2 {
    font-size: 40px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Michroma', sans-serif;
    white-space: nowrap;
}

/* النص */
.about-text p {
    max-width: 700px;
    margin: auto;
    font-size: 16px;
    opacity: 0.8;
    line-height: 1.6;
}

/* صور العربيات */
.cars-grid {
    margin-top: 50px;
    display: flex;
    gap: 300px;
    justify-content: center;
    flex-wrap: wrap;
}

.car-item {
    position: relative;
    width: 450px;
    overflow: hidden;
    border-radius: 15px;
}

.car-item img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    transition: 0.4s;
}

.car-item:hover img {
    transform: scale(1.05);
}

/* زرار اكسبلور */
.explore-btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px 25px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;

    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);

    transition: 0.3s;
}

.explore-btn:hover {
    background: white;
    color: black;
}


.car-name {
    position: absolute;
    top: 15px;
    left: 15px;

    color: white;
    font-size: 18px;
    font-family: 'Michroma', sans-serif;
    letter-spacing: 2px;

    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);

    padding: 6px 12px;
    border-radius: 8px;
}

/* السكشن كله */
.about-cards {
    background: #000;
    padding: 80px 10%;
    text-align: center;

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}


/* الكارت */
.about-card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 15px;

    padding: 30px;
    width: 300px;
    text-align: center;

    color: white;
    transition: 0.3s;
}

/* Hover */
.about-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}

/* عنوان الكارت */
.about-card h3 {
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 18px;
}

/* النص */
.about-card p {
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.6;
}

.features-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.features-header .line {
    flex: 1;
    height: 1px;
    background: linear-gradient(to right, transparent, white, transparent);
    opacity: 0.5;
}

.features-header h2 {
    color: white;
    font-size: 32px;
    letter-spacing: 6px;
    font-family: 'Michroma', sans-serif;
    white-space: nowrap;
}
.features-section {
    background: #000;
}